    .flecha{
        background-color: #5ca4ff;
        background-repeat: no-repeat;
        background-size: 18px;
        background-position: 5px center;
        border-radius: 15px;
        height: 30px;
        width: 30px;
        display: inline-block;
    }
    .flechaIzquierda{
        background-image: url("../img/icons/flecha_izquierda.png");

    }
    .flechaIzquierdaDoble{
        background-color: #3071a9 !important;
        background-image: url("../img/icons/flecha_izquierda_doble.png");

    }
    .flechaDerecha{
        background-position: 8px center !important;
        background-image: url("../img/icons/flecha_derecha.png");

    }
    .flechaDerechaDoble{
        background-color: #3071a9 !important;
        background-position: 8px center !important;
        background-image: url("../img/icons/flecha_derecha_doble.png");
    }
    .documento{
        background-size: 22px;
        background-color: transparent !important;
        background-image: url("../img/icons/icono_documento.png");
    }
    .flechaIzquierda:active
    , .flechaIzquierdaDoble:active
    , .flechaDerecha:active
    , .flechaDerechaDoble:active{
        opacity: 0.5;
    }
    