.page-header.navbar .page-logo .logo-default {
    margin: 8px 0 0 0 !important;
}

.dataTables_processing {
    min-width: 153px !important;
    padding: 10px !important;
    color: #FFF !important;
    font-size: 15px !important;
    border: 1px solid #3b6a43 !important;
    background-color: #35aa47 !important;
}

.titulo3 {
    background: none repeat scroll 0 0 rgba(93, 123, 157, 1);
    border-radius: 10px;
    color: White;
    height: 30px;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    line-height: 29px;
}
h2 {
    font-size: 12pt;
}
h1, h2, h3 {
    font-family: Arial;
    text-align: center;
}
.tituloR {
    background-color: #dcdcdc;
    height: 15px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}
.Nota {
    color: red;
    font-size: 12px;
    font-weight: bold;
}